body {
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}

footer {
    color: #5f6368;
    position: fixed;
    background-color: #f2f2f2;
    width: 100%;
    bottom: 0px;
    height: 40px;
    margin-left: -10px;
    font-size: 13px;
}

footer ul {
    display: inline-block;
}

#footer ul li a:hover {
    color: #5f6368;
    text-decoration: underline;
}

footer ul li a:active, footer ul li a:visited, footer ul li a:link {
    color: #5f6368;
    text-decoration: none;
}

nav {
    color: #000000;
    opacity: 0.75;
    font-size: 13px;
    position: fixed;
    width: 100%;
}

nav ul {
    display: inline-block;
}

#nav ul li a:hover {
    color: #000000;
    text-decoration: underline;
}

nav ul li a:active, nav ul li a:visited, nav ul li a:link {
    color: #000000;
    text-decoration: none;
}

#upper-left-ul {
    float: left;
}

#upper-right-ul {
    float: right;
}

#bottom-left-ul {
    float: left;
}

#bottom-right-ul {
    float: right;
}

li {
    display: inline;
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#logo {
    margin-left: 0px;
    margin-top: 190px;
    height: 92px;
    width: 272px;
}

#search {
    margin-left: 12px;
    margin-top: 23px;
    border-radius: 50px;
    font-size: 16px;
    width: 582px;
    height: 42px;
    border: 1px solid #dfe1e5;
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 97.2%;
    text-indent: 20px;
}

input:focus {
    outline: none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

button {
    height: 36px;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 27px;
    color: #5f6368;
    border: none;
}

#button-1 {
    width: 127.406px;
    margin: 30px 4px 0px 0px;
}

#button-2 {
    width: 143.406px;
    margin: 30px 1px 0px 3px;
}

