body {
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}

#nav {
    position: fixed;
}

li {
    display: inline;
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#logo {
    margin-top: 82px;
    height: 200px;
    width: 500px;
}

#search {
    margin-left: 12px;
    margin-top: 23px;
    border-radius: 50px;
    font-size: 16px;
    width: 482px;
    height: 42px;
    border: 1px solid #dfe1e5;
}

#microphone {
    height: 24px;
    position: absolute;
    top: 328px;
    right: 260px;
}